.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  min-height: 50px;
  padding: 0 3rem;
  font-size: 1rem;
  color: white;
}

.footerContainer .footerItem {
  padding: 0.5rem;
  text-align: center;
}

.footerContainer .dotSeparator:before {
  content: " \2022 ";
}

.footerContainer .aboutContactContainer {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .footerContainer {
    justify-content: center;
  }
}
