.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.headerContainer .leftContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1rem;
}

.headerContainer .navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  font-weight: bold;
  color: var(--font-color);
}

.headerContainer .navbar .navItem {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.5rem;
  margin: 0 1rem;
}

.headerContainer .navbar .navItem .lastItem {
  margin-right: 0;
}

.headerContainer .loginRegisterContainer {
  display: flex;
  align-items: center;
}
.headerContainer .loginRegisterContainer .item {
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
}
@media (max-width: 750px) {
  .headerContainer {
    justify-content: center;
  }
}
