html,
body {
  padding: 0;
  margin: 0;
  --primary-color: #642dfd;
  --font-color: #141414;
  font-family: Montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
